<div class="jumbotron">
	<h1 class="display-3">Gestão de Alunos</h1>
  	<p class="lead">Gerencie todos os alunos de sua escola de forma rápida e fácil.</p>
  	<hr class="my-4">
  	<p>Você pode importar os dados dos alunos de sua escola a partir de uma arquivo .xml ou cadastrá-los manualmente.</p>
  	<p class="lead">
    	<a class="btn btn-primary btn-lg" ui-sref="cabecalho.container.importacoes" role="button"><i class="fa fa-upload fa-lg"></i> Importação</a>
    	<a class="btn btn-primary btn-lg" ui-sref="cabecalho.container.alunos" role="button"><i class="fa fa-users fa-lg"></i> Alunos</a>
  	</p>
</div>