body {
    font-size: .9rem;
}

nav.navbar a {
    font-size: 1.7rem;
    color: rgb(12, 68, 112) !important;
}

.bg-light {
    background-color: #e9ecef !important;
}

.navbar-brand img {
    height: 50px;
    /*filter: brightness(0);*/
}

.btn-xs {
    padding: .2rem .5rem;
    font-size: .85rem;
    line-height: 1.5;
    border-radius: .2rem;
}

.main-container {
    padding-top: 10px;
}

.table th {
    border-top: 0;
}

.table tr[ng-click] {
    cursor: pointer;
}

.loader {
	position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
    top: 0;
    z-index: 1000;
}

.ball-scale-multiple {
	left: 50%;
    top: 50%;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    vertical-align: middle;
    border-radius: 4px;
    margin-bottom: 0;
}

h4.modal-title {
    font-size: 24px;
}

.title {
    margin-bottom: 15px;
}

label {
    margin-bottom: .2rem;
}