#btn-collapse-menu {
	margin-top: 8px;
	position: absolute;
	margin-left: 5px;
	background-color: #f8f8f8;
}

.loader {
	position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
    top: 0;
    z-index: 1000;
}

.ball-scale-multiple {
	left: 50%;
    top: 50%;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    vertical-align: middle;
    border-radius: 4px;
    margin-bottom: 0;
}

.mensagem-success {
    position: fixed;
    top: 100px;
    right: 20px;
    background-color: rgba(35, 202, 33, 0.8);
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    z-index: 3;
    box-shadow: 2px 2px 11px 0px rgba(0,0,0,0.5);
    display: none;
    max-width: 350px;
}

.mensagem-error {
    position: fixed;
    top: 60px;
    right: 20px;
    background-color: rgba(230, 71, 71, 0.8);
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    z-index: 3;
    box-shadow: 2px 2px 11px 0px rgba(0,0,0,0.5);
    display: none;
    max-width: 350px;
}

h4.modal-title {
    font-size: 24px;
}
