<h4 class="title">Alunos</h4>

<form name="form">
	<div class="form-row">
		<div class="form-group col-md-3">
			<label for="cpf">CPF</label>
			<input type="text" name="cpf" ng-model="ct.novoAluno.CPFAluno" class="form-control form-control-sm" ng-class="{'is-invalid': form.cpf.$invalid && form.cpf.$dirty}" required ng-maxlength="11" ng-minlength="11">
			<small class="form-text text-muted">11 caracteres numéricos</small>
		</div>

		<div class="form-group col-md-6">
			<label for="nome">Nome</label>
			<input type="text" name="nome" ng-model="ct.novoAluno.NomeAluno" class="form-control form-control-sm" required ng-maxlength="80" ng-class="{'is-invalid': form.nome.$invalid && form.nome.$dirty}">
		</div>

		<div class="form-group col-md-3">
			<label for="dataNascimento">Data de Nascimento</label>
			<input type="date" name="dataNascimento" ng-model="ct.novoAluno.DataNascimento" required class="form-control form-control-sm" ng-class="{'is-invalid': form.dataNascimento.$invalid && form.dataNascimento.$dirty}">
		</div>
	</div>

	<div class="form-row">
		<div class="form-group col-md-6">
			<label for="nomeMae">Nome da Mãe</label>
			<input type="text" name="nomeMae" ng-model="ct.novoAluno.NomeMae" required class="form-control form-control-sm" ng-maxlength="80" ng-class="{'is-invalid': form.nomeMae.$invalid && form.nomeMae.$dirty}">
		</div>

		<div class="form-group col-md-6">
			<label for="endereco">Endereço</label>
			<input type="text" name="endereco" ng-model="ct.novoAluno.Endereco" required class="form-control form-control-sm" ng-maxlength="180" ng-class="{'is-invalid': form.endereco.$invalid && form.endereco.$dirty}">
		</div>
	</div>

	<button class="btn btn-success btn-sm" ng-disabled="form.$invalid" ng-click="ct.salvarAluno()">Salvar <i class="fa fa-floppy-o"></i></button>
</form>

<hr>

<table class="table table-sm table-striped table-hover">
	<thead>
		<tr>
			<th>CPF</th>
			<th>Nome do Aluno</th>
			<th>Data de Nascimento</th>
			<th>Endereço</th>
			<th>Nome da Mãe</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="a in ct.alunos" ng-click="ct.confirmaExclusao(a)" data-toggle="modal" data-target="#confirma-exclusao">
			<td>{{a.CPFAluno}}</td>
			<td>{{a.NomeAluno}}</td>
			<td>{{a.DataNascimento | date:'dd/MM/yyyy'}}</td>
			<td>{{a.Endereco}}</td>
			<td>{{a.NomeMae}}</td>
		</tr>
	</tbody>
</table>


<!-- Modal -->
<div class="modal fade" id="confirma-exclusao" tabindex="-1" role="dialog" aria-labelledby="confirmacao-title" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="confirmacao-title">Confirmação</h5>
      </div>
      <div class="modal-body">
        Tem certeza que deseja excluir o aluno <strong>{{ct.alunoSelecionado.NomeAluno}}</strong>?<br>
        Essa açao não pode ser desfeita.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Não</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="ct.excluirAluno(ct.alunoSelecionado.CPFAluno)">Sim</button>
      </div>
    </div>
  </div>
</div>