<ul class="nav nav-tabs">
    <li class="active"><a href="#importacao" data-toggle="tab">Importação</a>
    </li>
    <li><a href="#visualizacao" data-toggle="tab">Visualização</a>
    </li>
</ul>

<div class="tab-content" style="padding-top: 20px;">
    <div class="tab-pane fade in active" id="importacao">
    
        <div class="container-fluid">
            <div ui-view="importacao"></div>
        </div>

    </div>
            
    <div class="tab-pane fade" id="visualizacao">
    
        <div class="container-fluid">
            <div ui-view="listagem"></div>
        </div>

    </div>
</div>
