<h4>Importação de Dados</h4>

<div class="row">
    <div class="col-md-8">
        <form class="form-group" ng-submit="ct.sendFile()">

            <div class="row">
                <div class="col-md-12">
                    <label class="custom-file-upload">
                        <input type="file" name="file">
                        <i class="fa fa-upload"></i> Escolher Arquivo
                    </label>
                </div>
            </div>
            

            <div class="row" style="margin-top: 10px;">
                <div class="col-md-6">
                    <input type="text" name="input-files-label" class="form-control" id="input-files-label" disabled style="display: none;">
                </div>
                    <input type="submit" class="btn btn-success" value="Importar" id="button-upload-file" style="display: none;"/>
                
            </div>

        <!--</div> -->
        </form>
    </div>
</div>